.login-container {
  display: flex;
  justify-content: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.login-form > input {
  padding: 2px 3px;
  border: 1px solid none;
  border-radius: 2px;
}

.login-form > button {
  background-color: yellowgreen;
  font-weight: 600;
  padding: 3px;
  border-radius: 3px;
  color: beige;
}

nav {
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  font-weight: bold;
}

.menu > a,
.loginout > a {
  text-decoration: none;
  color: black;
  margin-right: 5px;
  padding: 5px;
}
