.food-album {
  height: 200px;
  width: 300px;
  position: relative;
  overflow: hidden;
}

.food-album img {
  width: 100%;
  border-radius: 5px;
}
.food-text {
  position: absolute;
  background-color: rgba(128, 128, 128, 0.694);
  width: 280px;
  top: 0px;
  left: 0px;
  padding: 28px 10px;
  color: beige;
  transform: translateY(200px);
  /* transition: transform 1s ease-in; */
}

.food-album:hover .food-text {
  transform: translateY(0px);
  transition: transform 0.3s ease-in;
}

body {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.food-album:hover img {
  display: block;
  transform: scale(1.2) rotate(15deg);
  transition: transform 0.5s ease-in;
}
